<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test Vue</title>
    <!-- <script src="https://unpkg.com/vue"></script> -->
    <script src="https://cdn.bootcss.com/vue/1.0.8/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>

    </style>
    <script>
        window.onload = function() {
            // new Vue({
            //var vm = new Vue({ //MVC MVVM模型中的C，VM所以这里的变量可以随意叫什么甚至不要，应为不直接使用这个变量，一般情况下不要
            //指令是对HTML标签的拓展功能属性
            new Vue({
                el: '#box', //el即是element的缩写 el里放的是选择器，#box即id，当然也可以是class，也可以是HTML其他标签
                data: {
                    msg: "welcome to vue",
                    msg2: 23,
                    msg3: true,
                    arr: ['apple', 'banana', 'orange', 'shit'],
                    json: {
                        a: 'apple',
                        b: 'banana',
                        c: 'crue',
                        d: 'desk'
                    }
                }
            });

            new Vue({
                el: '#input',
                data: {
                    msg: 'Hello world'
                }
            });

            new Vue({
                el: '.class01',
                data: {
                    msg: 'class info'
                }
            });

            new Vue({
                el: 'p',
                data: {
                    msg: 'P just a p'
                }
            });

            new Vue({
                el: '#sj',
                data: {
                    msg: 'sj show',
                    arr: ['apple', 'banana', 'orange', 'shit'],
                    a: true,
                },
                methods: {
                    show: function() {
                        alert("ni dian ge p a ");
                    },

                    add: function() {
                        //console.log("budebuai");
                        this.arr.push('google');
                    }
                }
            });
        };
    </script>
</head>

<body>
    <div id="box">
        {{msg}}
        <br> {{msg2}}
        <br> {{msg3}}
        <br>{{arr}}
        <br>{{json}}
        <ul>
            <li v-for="value in arr">
                <!--循环 -->
                {{value}}
            </li>
        </ul>
        <hr>
        <ul>
            <li v-for="value in json">
                <!--循环 -->
                {{value}} {{$index}} {{$key}}
                <!-- $index和$key只能在1的版本中使用 -->
            </li>
        </ul>

    </div>
    <div id="input">
        {{msg}}
        <input type="text" v-model="msg">
    </div>
    <div class="class01">
        {{msg}}
    </div>
    <p>
        {{msg}}
    </p>
    <hr>
    <div id="sj">
        <!-- <input type="button" value="按键" onclick="alert(1)"> -->
        <!-- <input type="button" value="按键" onclick="console.log(1)"> 传统做法 -->
        <!-- vue的事件 -->
        <input type="button" value="button" v-on:click="show()">
        <!-- <input type="button" value="button" v-on:click="add()"> -->
        <!-- 触发事件的方式有很多种，mouseover/mousedown/mouseout/dblclick -->
        <input type="button" value="button" v-on:dblclick="add()">
        <input type="button" value="button" v-on:click="a=false">
        <ul>
            <li v-for="value in arr">
                {{value}}
            </li>
        </ul>
        <div style="width:100px;height:100px;background:#3079ed" v-show="a"></div>
    </div>
</body>

</html>